* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

/* This is header class */

.header {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 2vh 7vh;
}

.upper-header {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.upper-header img {
  height: 3.5vh;
  width: 3.5vh;
}

.left-upper-header {
  display: flex;
  padding-right: 10vh;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: rgb(111, 228, 228);
  width: 100vh;
}

.right-upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 65px;
}

.right-upper-header .users {
  height: 7vh;
  width: 7vh;
  border-radius: 23px;
}

.right-upper-header h2 {
  display: inline;
}

/* This is sidebar class */

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
  color: white;
  background-color: dodgerblue;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  gap: 5vh;
  height: 100vh;
  padding: 3vh 2vh;
}

.sidebar p {
  font-size: 5vh;
  font-weight: bold;
  padding: 1.25vh 0vh;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding-left: 2vh;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logo img {
  height: 8vh;
  width: 8vh;
}

.main-link {
  display: grid;
  padding-left: 1.75vh;
}

.main-links {
  display: flex;
  align-items: center;
}

.main-link img {
  height: 4vh;
  width: 4vh;
}

#communities {
  height: 5vh;
  width: 5vh;
}

.extra-link {
  display: grid;
  padding-left: 1.75vh;
}

.extra-links {
  display: flex;
  align-items: center;
}

.extra-link img {
  height: 4vh;
  width: 4vh;
}

/* This is main-content class */

.main-content {
}
